extends layout

block content
  h1.mb-3= title
  ul
    each music, i in musics
      .card.mr-3.mb-3(style="display:inline-block")
        //- img.card-img-top(src='...' alt='...')
        .card-body
          a.text-decoration-none.text-reset(href="music/" + music._id)
            h3.card-text=music.name
          a.text-decoration-none.text-reset(href="music/" + music._id)
            h5.card-text=music.singer
          


      
