extends layout

block content
    h1.mb-5=title
    form(method="POST", action="/music/add")
        .form-group
            label(for='name') Music Add
            input#name.form-control(type='text', name='name')
        .form-group
            label(for='singer') Singer
            input#name.form-control(type='text', name='singer')
        .form-group
            label(for='comments') Comments
            input#name.form-control(type='text', name='comment')
        button.btn.btn-success(type='submit') Upload