extends layout

block content
    h1.mb-5=title
    form(method="POST", action="/music/edit/" + musics._id)
        .form-group
            label(for='name') Edit the Name
            input#name.form-control(type='text', name='name' value=musics.name)
        .form-group
            label(for='singer') Edit the singer
            input#name.form-control(type='text', name='singer' value= musics.singer)
        .form-group
            label(for='comments') Comments
            input#name.form-control(type='text', name='comment' value= musics.comment)
        button.btn.btn-success(type='submit') Edit